<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Anchor load -->
      <div id="anchor_load" id="screen-main-ui">  
        <div id="anchor_load_title">
			   <p>WAYSPOT NAME: <span>80076C9B8DBE</span></p>
		    </div>
    		<div id="anchor_load_status">
    			<p>LOCALIZATION<br>STATUS</p>
    			<div id="anchor_load_status_load"></div>
    			<div id="anchor_load_status_true"></div>
    		</div>
        <div id="anchor_load_load_anchors_btn">
    			<p>LOAD<br>ANCHORS</p>
    		</div>
        <div id="anchor_load_remove_anchors_btn">
    			<p>REMOVE<br>ANCHORS</p>
    		</div>
        <div id="anchor_load_grid_btn">
    			<p>GRID<br>ON/OFF</p>
    		</div>
        <div id="anchor_load_exit_btn">
    			<p>EXIT</p>
    		</div>
        <div id="anchor_load_back_btn">
    			<p>BACK</p>
    		</div>
        <div id="anchor_load_save_btn">
    			<p>SAVE</p>
    		</div>
        <div id="anchor_load_add_btn">
    			<p>ADD<br>ANCHOR</p>
    		</div>
        <div id="anchor_load_aim"></div>		
      </div>
	  	<div id="anchor_load_popup">
			<div id="anchor_load_popup_title">
				 Welcome!
			</div>
			<div id="anchor_load_popup_descr">
			     <span>For quickly localization you need scanning all items around this place. Just move with the device to scan everything around.</span>		 
			</div>		
			<div id="anchor_load_popup_btn_flow">			
				<div id="anchor_load_popup_btn">
					 <span>Continue</span>
                </div> 				
            </div>
		</div>	  
  </body>
</html>