<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Test UI -->
    <div id="anchors-ui" class="game-main-ui">
      <div id="message">
        You can`t run the game at this location
      </div>
      <div id="anchors-ui-wrapper">
        <div id="anchors-controls">
          <ul>
            <li><a id="anchors-raycast" href="#">Raycast</a></li>
            <li><a id="anchors-place" href="#">Place</a></li>
            <li class="active"><a id="anchors-save" href="#">Save</a></li>
            <li class="active"><a id="anchors-load" href="#">Load</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>