<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Ball through Torus game -->
    <div id="ball-through-torus-game-ui" class="game-main-ui">
      <div id="headerimg">
              <img src="../assets/css/img/header2.png">
      </div>
      <div class="Had_Left">
         <p>DESTROY CIRCLES</p>
      </div>
      <div class="Had_MidleUp">
         <p>TIME</p>     
      </div>
      <div id="clock" class="Had_MidleDown">
         <p>00:00</p>       
      </div>    
      <div class="Had_Right">
         <p>AMOUNT: <span id="current-count">0</span>/<span id="total-count">12</span></p>
      </div>      
      <div id="restart-button" class="Left_Btn">
         <p>RESTART</p>
      </div>
      <div id="end-button" class="Right_Btn">
         <p>FINISH</p>
      </div>  
      <div id="launch-ball-button" class="Ball">
         <img src="../assets/css/img/Ball.gif">
      </div>      
      <div class="Circle">
         <img src="../assets/css/img/Circle.png">
      </div>
    </div>
  </body>
</html>