<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
	<body> 	
	<! -- Удалить в A-Frame проекте всё что сверху--> 
	  	<div id="headerimg">
            <img src="./assets/css/img//header.png">
		</div>
		<div class="Had_Left">
			 DESTROY CIRCLES
		</div>
		<div class="Had_MidleUp">
			 TIME			 
		</div>
		<div class="Had_MidleDown">
			 00:00			 
		</div>		
		<div class="Had_Right">
			 AMOUNT: 3/12
		</div>			
		<div class="Left_Btn">
			 <p>RESTART</p>
		</div>
		<div class="Right_Btn">
			 <p>FINISH</p>
		</div>	
		<div class="Ball">
			 <img src="./assets/css/img//Ball.gif">
		</div>			
		<div class="Circle">
			 <img src="./assets/css/img//Circle.png">
		</div>	
	<! -- Удалить в A-Frame проекте всё что снизу-->

	</body>
</html>