<html>
  <head>
	  <title>DexGo</title>	
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="index.css"/>
  </head>
	<body> 	
	<! -- Удалить в A-Frame проекте всё что сверху--> 
	  	<div class="GO_Title">
		    GREAT JOB!
        </div>
	  	<div class="GO_Result">
		    YOUR RESULT
        </div>
	  	<div class="GO_Result_Value">
		    100
        </div>		
	  	<div class="GO_Time">
		    YOUR TIME
        </div>
	  	<div class="GO_Time_Value">
		    100
        </div>		
	  	<div class="GO_Restart">
		    <span>RESTART</span>
        </div>	
	  	<div class="GO_Exit">
		    <span>EXIT</span>
        </div>		
	
	<! -- Удалить в A-Frame проекте всё что снизу-->

	</body>
</html>