<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Ball through Torus game -->
    <div id="ball-through-torus-game-ui" class="game-main-ui">
	  <div id="Quest_Flow">
		  <div class="header_quest">
				  <div class="Had_Left">
					 <b>Roll Dice game</b>
				  </div>
				  <div class="Had_MidleUp">
					 <b>Points</b>     
				  </div>
				  <div id="clock" class="Had_MidleDown">
					 <b><span id="roll-points">15</span></b>       
				  </div> 
				  <div class="Had_Right">
					 <b>Roll <span id="roll-more">></span><span id="roll-less"><</span><span id="roll-value"> 10</span></b>
				  </div> 				  
		  </div>
		  <div class="Roll_Drag_Icon">
		  </div>
		  <div class="Roll_Drag_Desc">
		     Press and Drag
		  </div>
		  <div class="Roll_Task">
		     Roll the number <br> greater than <br> <span id="Roll_Task_Value">"9"</span>
		  </div>
		  <div class="Roll_Win">
		     <div class="Roll_Win_Title">Great!!!</div>
		     <div class="Roll_Win_Emote"></div>
		     <div class="Roll_Win_Points"><span>+</span><span id = "Roll_Win_Value">5</span> points</div>
		  </div>
		  <div class="Roll_Lose">
		     <div class="Roll_Lose_Title">"Sorry, that was a bad roll"</div>
		     <div class="Roll_Lose_Emote"></div>
		  </div>		  
		  <div class="Dice_Left1">
		  </div>
		  <div class="Dice_Left2">
		  </div>
		  <div class="Dice_Left3">
		  </div>
		  <div class="Dice_Left4">
		  </div>
		  <div class="Dice_Left5">
		  </div>
		  <div class="Dice_Left6">
		  </div>		  
		  <div class="Dice_Right1">
		  </div>
		  <div class="Dice_Right2">
		  </div>
		  <div class="Dice_Right3">
		  </div>
		  <div class="Dice_Right4">
		  </div>
		  <div class="Dice_Right5">
		  </div>
		  <div class="Dice_Right6">
		  </div>
		  <div class="Roll_Start_PopUp">
			 <div class="Roll_Overlay"></div>
			 <div class="Roll_PopUp_BG"></div>		  
			 <div class="Roll_Close_Btn"></div>		 	
			 <div class="Roll_Title">WELCOME</div>
			 <div class="Roll_Start_Logo"></div>
			 <div class="Roll_Start_Name">Do you want to play Roll Dice<br>with us?</div>
			 <div class="Roll_Start_Desc"><span>The goal of the game is to roll the right number on the dice.</span></div>
			 <div class="Roll_Btn">
				<b>PLAY</b>
			 </div>
	      </div>
		  <div class="Roll_Finish_PopUp">
			 <div class="Roll_Overlay"></div>
			 <div class="Roll_PopUp_BG"></div>		  		 	
			 <div class="Roll_Title">Congratulations!</div>
			 <div class="Roll_Finish_Logo"></div>
			 <div class="Roll_Finish_Text"><span>You did well!</span></div>
			 <div class="Roll_Finish_Desc">Your score is:</div>
			 <div class="Roll_Finish_Label">
				<div class="Roll_Finish_Label_Name">Points</div>
			    <div class="Roll_Finish_Label_Result"><span id="Roll_Game_Result">15</span></div>		 
			 </div>
			 <div class="Roll_Btn">
				<b>FINISH</b>
			 </div>
	      </div>		  
		</div>
    </div>
  </body>
</html>