<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Start instructions -->
    <div id="start-game">
      <div class="PopUp1_Title">
        INSTRUCTIONS
      </div>
      <div class="PopUp1_Text">
        <p>First, scan your surroundings to create a collision Mesh.</p>
        <p>Then, launch as many balls through the Circles as you can.</p>    
      </div>
      <div id="start-game-button" class="PopUp1_Btn">
        <p>START</p>
      </div>
    </div>
  </body>
</html>