<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- BG -->
      <div id="Load_Scrn">  
        <div class="LS_Logo"></div>     
        <div class="LS_PB">
			 <img src="../assets/css/img/LS_PB_Fill_Blue.png">
			 <p>100%</p>		
		</div> 
      </div>	  
  </body>
</html>