<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
	<body> 	
	<! -- Удалить в A-Frame проекте всё что сверху--> 
	  	<div id="route-marker" class="MP_Route_Marker_Pos">
	  		<div class="MP_Route_Marker_Scaler">
				<div class="MP_Route_Profit">
					<p>PROFIT</p>
					<b>25$</b>
				</div>		
				<div class="MP_Route_Marker">					
					<b>ROUTE NAME</b>
					<p>41°24'12.2"N 2°10'26.5"E</p>
				</div>
                <div class="MP_Route_Mask"><img src="../assets/css/img/Routes/RM_Quest_Icon_Img.png"></div>				
			</div>			
        </div>		
	
	<! -- Удалить в A-Frame проекте всё что снизу-->

	</body>
</html>