<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Main page -->
    <div id="main-page">
      <div id="Main_Tab">  
        <div class="Main_BG"></div>     
        <div class="Main_Road"></div> 
        <div class="Main_Logo"></div>
        <div id="TopContent">
          <div class="UserFlow">
            <div class="UF_Username">Username</div>
            <div class="UF_Values">
              <div class="UF_Money">10995$</div>
              <div class="UF_Distance">231km</div>
              <div class="UF_Rating">1795</div>
              <div class="UserAvatar"><img src="../assets/css/img/Avatar_Example_Img.png"></div>
            </div>  
          </div>
          <div class="TC_Profile">
            <p>PROFILE</p>
          </div>
          <div class="TC_FAQ">
          </div>      
        </div>
      </div>
      <div class="Main_Map">
        <div class="Map">
          <!--<img src="../assets/css/img/MapImage.png">-->
          <div id="mapbox-map"></div>
          <div id="user-location-marker" class="marker"></div>
        </div>
        <div class="Map_Btn">
          <div class="Map_Left_Flow"></div>   
          <div id="map-zoom-out" class="Minus_btn"></div>
          <div id="map-reset" class="Map_Reset_Player_Btn"></div>     
          <div id="map-zoom-in" class="Plus_btn"></div>
          <div class="Map_Right_Flow"></div>      
        </div>
        <div id="map-routes-reset" class="Map_Reset_Btn"></div> 		
      </div>
      <div class="Main_Quest">
        <h1>Explore the closest quest from you</h1>
        <!--<h1 id="tracking-status">no tracking</h1>-->
        <div id="find-closest-route" class= "Main_Quest_Btn">
          <p>VIEW PATH</p>   
        </div>
      </div>
      <div id="MainMenu">
        <nav>
          <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">SHOES</a></li>
            <li><a href="#">QUESTS</a></li>
            <li><a href="#">ASSETS</a></li>
          </ul>
        </nav>    
      </div>
    </div>
  </body>
</html>