<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Main page -->
    <div id="main_page" id="screen-main-ui">
      <div id="main_page_map">
        <div id="main_page_map_flow">
          <!--<img src="../assets/css/img/MainMenu_MapMask_test_img.png">-->
          <div id="mapbox-map"></div>
          <div id="user-location-marker" class="marker"></div>
        </div>
        <div id="main_page_map-zoom-out"></div>
        <div id="main_page_map-reset"></div>     
        <div id="main_page_map-zoom-in"></div>			
        <div id="main_page_map-routes-reset"></div>		
  		<div id="main_page_map_info">
          <div id="main_page_map_info_route">SELECT ROUTE</div>
          <div id="main_page_map_info_start">FOLLOW TO START POINT</div>
  		</div>
        <div id="main_page_map_share_route_btn"><p>SHARE</p></div>			
      </div>
	  	<div id="main_page_info_popup">
			<div id="main_page_popup_title">
				 NAME ROUTE
			</div>
			<div id="main_page_popup_profit">
				<p>PROFIT</p>
				<b>25$</b>
			</div>
			<div id="main_page_popup_description">
				 <p>On this route you will learn a lot about 
				 the activities of the purple gnomes who lived here several centuries ago...</p>			 
			</div>		
			<div id="main_page_popup_coord_title">
				 <p>COORDINATES</p>
			</div>
			<div id="main_page_popup_coord_value">
				 <b>41°24'12.2"N 2°10'26.5"E</b>
			</div>			
			<div id="main_page_info_popup_reset_route_btn">
				 <p>RESET PATH</p>
			</div>
			<div id="main_page_info_popup_continue_route_btn">
				 <p>CONTINUE</p>
			</div>		
        </div>
	  	<div id="main_page_start_route_popup">
			<div id="main_page_popup_title">
				 NAME ROUTE
			</div>
			<div id="main_page_popup_profit">
				<p>PROFIT</p>
				<b>25$</b>
			</div>
			<div id="main_page_popup_description">
				 <p>On this route you will learn a lot about 
				 the activities of the purple gnomes who lived here several centuries ago...</p>			 
			</div>		
			<div id="main_page_popup_coord_title">
				 <p>COORDINATES</p>
			</div>
			<div id="main_page_popup_coord_value">
				 <b>41°24'12.2"N 2°10'26.5"E</b>
			</div>			
			<div id="main_page_start_route_popup_start_btn">
				 <p>START ROUTE</p>
			</div>
			<div id="main_page_start_route_popup_close_popup">
			</div>			
        </div>		
    </div>
  </body>
</html>