<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
	<body> 	
	  	<div id="MP_PopUp1">
			<div class="MP_PopUp_Title">
				 NAME ROUTE
			</div>
			<div class="MP_PopUp_Profit">
				<p>PROFIT</p>
				<b>25$</b>
			</div>
			<div class="MP_PopUp_Text">
				 <p>On this route you will learn a lot about 
				 the activities of the purple gnomes who lived here several centuries ago...</p>			 
			</div>		
			<div class="MP_Coord_Title">
				 <p>COORDINATES</p>
			</div>
			<div class="MP_Coord_Value">
				 <b>41°24'12.2"N 2°10'26.5"E</b>
			</div>			
			<div id="reset-route" class="MP_PopUp1_Left_Btn">
				 <p>RESET PATH</p>
			</div>
			<div id="continue-route" class="MP_PopUp1_Right_Btn">
				 <p>CONTINUE</p>
			</div>		
        </div>		
	</body>
</html>