<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Anchor Map -->
      <div id="passcode" class="game-main-ui">
	  	<div id="passcode_dexgo_link">
			<div id="passcode_dexgo_link_description">The application is still under development. Go to the website:</div>
			<div id="passcode_dexgo_link_link"><a href="https://www.dexgo.club/">dexGO.club</a></div>		
		</div>
        <div id="numpad">
          <div class="numpad-row">
            <a>1</a>
            <a>2</a>
            <a>3</a>
          </div>
          <div class="numpad-row">
            <a>4</a>
            <a>5</a>
            <a>6</a>
          </div>
          <div class="numpad-row">
            <a>7</a>
            <a>8</a>
            <a>9</a>
          </div>
          <div class="numpad-row">
            <a>*</a>
            <a>0</a>
            <a>#</a>
          </div>
        </div>
        <a id="enter">enter</a>
      </div>	  
  </body>
</html>