<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
	<body> 	
	  	<div id="Quiz_Start_PopUp">
			<div class="Quiz_Start_PopUp_Title">
				 WELCOME!
			</div>
			<div class="Quiz_Start_PopUp_Name">
			     <span>Sport quiz</span>		 
			</div>
			<div class="Quiz_Start_PopUp_Text">
				 <span>Would you like to take part in our sports Quiz?</span>			 
			</div>			
			<div class="Quiz_Start_PopUp_Left_Btn">
				 <p>No, Thanks</p>
			</div>
			<div class="Quiz_Start_PopUp_Right_Btn">
				 <p>let's go</p>
			</div>		
        </div>		
	</body>
</html>