<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
	<body> 	
	  	<div id="Quiz_Start_PopUp">
			<div class="PopUp_Overlay"></div>
			<div class="Quest_PopUp_BG"></div>			
			<div class="Quiz_Start_PopUp_Title">
				 WELCOME!
			</div>
			<div class="Quiz_Start_PopUp_Name">
			     <span>Sport quiz</span>		 
			</div>
			<div class="Quiz_Start_PopUp_Text">
				 <span>Would you like to take part in our sports Quiz?</span>			 
			</div>					
			<div class="Quiz_Start_PopUp_Left_Btn">
				 <span>No, Thanks</span>
			</div>
			<div class="Quiz_Start_PopUp_Right_Btn">
				 <span>let's go</span>
			</div>			
        </div>
	  	<div id="Quiz_Question_Type1">
			<div class="Quiz_Question_Title">
				 What are the five colours of the Olympic rings?
			</div>
			<div class="Quiz_Question_Descr">
			     <span>Put a check mark on the line that corresponds to the correct answers</span>		 
			</div>
			<div class="Quiz_Question_1">
			    <div class="Quiz_Question_Content">
					<input type="checkbox" class="custom-checkbox" id="Question_1" name="Question_1" value="yes">
					<label for="Question_1">Blue</label>	
				</div>		
			</div>
			<div class="Quiz_Question_2">
			    <div class="Quiz_Question_Content">
					<input type="checkbox" class="custom-checkbox" id="Question_2" name="Question_2" value="yes">
					<label for="Question_2">Yellow</label>	
				</div>		
			</div>
			<div class="Quiz_Question_3">
			    <div class="Quiz_Question_Content">
					<input type="checkbox" class="custom-checkbox" id="Question_3" name="Question_3" value="yes">
					<label for="Question_3">Black</label>	
				</div>		
			</div>
			<div class="Quiz_Question_4">
			    <div class="Quiz_Question_Content">
					<input type="checkbox" class="custom-checkbox" id="Question_4" name="Question_4" value="yes">
					<label for="Question_4">Green</label>	
				</div>		
			</div>
			<div class="Quiz_Question_5">
			    <div class="Quiz_Question_Content">
					<input type="checkbox" class="custom-checkbox" id="Question_5" name="Question_5" value="yes">
					<label for="Question_5">Red</label>	
				</div>		
			</div>
			<div class="Quiz_Question_6">
			    <div class="Quiz_Question_Content">
					<input type="checkbox" class="custom-checkbox" id="Question_6" name="Question_6" value="yes">
					<label for="Question_6">Orange</label>	
				</div>		
			</div>			
			<div class="Quiz_Question_Btn_Flow">			
				<div class="Quiz_Question_Btn">
					 <span>Continue</span>
                </div> 				
            </div>
		</div>
	  	<div id="Quiz_Result">
			<div class="PopUp_Overlay"></div>
			<div class="Quest_PopUp_BG"></div>			
			<div class="Quiz_Result_Title">
				 Congratulations!
			</div>
			<div class="Quiz_Result_Descr">
			     <p>You answered exactly <span>3</span> questions correctly out of 5</p>		 
			</div>
			<div class="Quiz_Result_Result">			
			    <div class="Quiz_Result_Value">
					<p>Points</p>				
					<span>75</span>	
				</div>	
			    <div class="Quiz_Result_Text">	
					<span>Your Result</span>	
				</div>				
			</div>						
			<div class="Quiz_Result_Btn">
					<span>Finish</span>
            </div> 				
		</div>		
	</body>
</html>