<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
	<body> 	
	<! -- Удалить в A-Frame проекте всё что сверху--> 
	  	<div id="MP_PopUp2">
			<div class="MP_PopUp_Title">
				 NAME QUEST
			</div>
			<div class="MP_PopUp_Distance">
				<p>DISTANCE</p>
				<b>0km</b>
			</div>
			<div class="MP_PopUp_Text">
				 <p>You have arrived at the place of a new quest</p>			 
			</div>		
			<div class="MP_Coord_Title">
				 <p>COORDINATES</p>
			</div>
			<div class="MP_Coord_Value">
				 <b>41°24'12.2"N 2°10'26.5"E</b>
			</div>			
			<div class="MP_PopUp2_Btn">
				 <p>START QUEST</p>
			</div>
			<div class="MP_PopUp2_Close_Btn">
			</div>			
        </div>		
	
	<! -- Удалить в A-Frame проекте всё что снизу-->

	</body>
</html>