<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Main page -->
    <div id="route-map" class="game-main-ui"> 
      <div class="Route_Map_Flow">
        <div class="RM_Description">
      		<p class ="RM_RouteName">ROUTE NAME</p>
      		<p class ="RM_TotalQuests">TOTAL QUESTS: <span class="completed-quests-count">0</span>/<span class="total-quests-count">10</span></p>
      		<p class ="RM_TotalDistance">TOTAL DISTANCE: <span class="route-traveled-distance">0</span>km/<span class="route-total-distance">0</span>km</p>
      		<div class="RM_Points_Value">
      			<p id="points-count">0</p>
      			<p>POINTS</p>
      		</div>	
        </div>
    	  <div class="RM_Map">
    	    <div class="RM_Map_Flow">
          </div>
    	    <div id="route-map-zoom-out" class="RM_Minus_btn"></div>
          <div id="route-map-reset" class="RM_Reset_Player_Btn"></div>     
          <div id="route-map-zoom-in" class="RM_Plus_btn"></div>
    	  </div>
        <div id="finish-route" class="RM_Bottom_Btn">
      		<p>FINISH</p>	  
      	</div>
		<div class="RM_RC_Flow path-selection">
			<h1>SELECT PATH!!!</h1>
			<p>Choose between two paths and confirm</p>
		</div>
		<div id="path-select-left" class="RM_RC_LeftBtn path-selection">
			<p>Left Path</p>
		</div>
		<div id="path-select-right" class="RM_RC_RightBtn path-selection">
			<p>Right Path</p>
		</div>
		<div id="path-select-confirm" class="RM_RC_BottomBtn path-selection">
			<p>CONFIRM</p>
		</div>
		<div id="route-map-distance" class="RM_Quest_Distance">
			<div class="RM_Quest_Distance_Path"></div>
			<div class="RM_Quest_Distance_Flow">					
				<div class="RM_Dist_Full"><p>5.1</p></div>
				<div class="RM_Dist_Text"><p>km</p></div>
				<div class="RM_Dist_Real"><p>3.0</p></div>
			</div>
		</div>
	  	<div id="route-marker" class="MP_Route_Marker_Pos">
	  		<div class="MP_Route_Marker_Scaler">
				<div class="MP_Route_Profit">
					<p class="MP_Route_Profit_p">PROFIT</p>
					<b class="MP_Route_Profit_b">25$</b>
				</div>		
				<div class="MP_Route_Marker">					
					<b class="MP_Route_Marker_b">ROUTE NAME</b>
					<p class="MP_Route_Marker_p">41°24'12.2"N 2°10'26.5"E</p>
				</div>
                <div class="MP_Route_Mask"><img src="../assets/css/img/Routes/RM_Quest_Icon_Img.png"></div>				
			</div>			
        </div>		
      </div>
    </div>
  </body>
</html>