<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
	<body> 	
	  <div id="quest-start-popup" class="Quest_Start_PopUp">
		 <div id="quest-start-popup-close" class="QSP_Close_Btn"></div>		 	
	     <h1>WELCOME</h1>
	     <div class="QSP_Target">
			<div class="QSP_Target_Mask">
				<img src="../assets/css/img/User_Connection/Pop_Up_Field_Img.png">
			</div>
		 </div>
		 <p>Find this object and scan it from all sides</p>
		 <div id="quest-start-popup-start" class="QSP_Start_Btn">
			<b>LET'S GO</b>
         </div>
	  </div>		
	</body>
</html>