<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
	<body> 	
	<! -- Удалить в A-Frame проекте всё что сверху-->
	  <div id="Main_Tab">  
        <div class="Main_BG"></div>			
        <div class="Main_Road"></div>	
        <div class="Main_Logo"></div>	
	  </div>
	  <div class="User_Connection_Tab">
		<div class="UC_top_BG"><img src="assets/User_Connection/UC_Field_Top.png"></div>
		<div class="UC_middle_BG"><img src="assets/User_Connection/UC_Field_Center.png"></div>
		<div class="UC_bottom_BG"><img src="assets/User_Connection/UC_Field_Bottom2.png"><p>STEP 3</p></div>
	  </div>
	  <div class="UC_Network">
		<div class= "UC_Balance_Icon"></div>	  
		<div class= "UC_Balance_Cont">
			<b>BALANCE:</b>
			<div><p>50 ETH</p></div>
		</div>
		<div class="UC_Bal_Btn"><b>TAP TO PLAY</b></div>
	  </div>

	  <div class="UC_Title"><b>CHECKING THE BALANCE</b></div>	
	  <div id="MainMenu">
		  <nav>
				<ul>
					<li><a href="#">HOME</a></li>
					<li><a href="#">SHOES</a></li>
					<li><a href="#">QUESTS</a></li>
					<li><a href="#">ASSETS</a></li>
				</ul>
		 </nav>	  
	  </div>
	  
	  
	<! -- Удалить в A-Frame проекте всё что снизу-->

	</body>
</html>