<html>
  <head>
	  <title>DexGo</title>	
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="index.css"/>
  </head>
	<body> 	
	<! -- Удалить в A-Frame проекте всё что сверху-->
	  <div id="Main_Tab">  
        <div class="Main_BG"></div>			
        <div class="Main_Road"></div>	
        <div class="Main_Logo"></div>	
	  </div>
	  <div class="User_Connection_Tab">
		<div class="UC_top_BG"><img src="assets/User_Connection/UC_Field_Top.png"></div>
		<div class="UC_middle_BG"><img src="assets/User_Connection/UC_Field_Center.png"></div>
		<div class="UC_bottom_BG"><img src="assets/User_Connection/UC_Field_Bottom2.png"><p>STEP 2</p></div>
	  </div>
	  <div class="UC_Network">
		<div class= "UC_Network_Cont1">
			<b>NETWORK NAME:</b>
			<div><p>POLYGON MAINNET</p></div>
		</div>
		<div class= "UC_Network_Cont2">
			<b>URL:</b>
			<div><p>HTTP://POLYGON-RPC.COM/</p></div>
		</div>
		<div class= "UC_Network_Cont3">
			<b>CHAIN ID:</b>
			<div><p>137</p></div>
		</div>
		<div class="UC_Net_Btn"><b>ADD TO METAMASK</b></div>
	  </div>

	  <div class="UC_Title"><b>ADD A NEW NETWORK TO METAMASK</b></div>	
	  <div id="MainMenu">
		  <nav>
				<ul>
					<li><a href="#">HOME</a></li>
					<li><a href="#">SHOES</a></li>
					<li><a href="#">QUESTS</a></li>
					<li><a href="#">ASSETS</a></li>
				</ul>
		 </nav>	  
	  </div>
	  
	  
	<! -- Удалить в A-Frame проекте всё что снизу-->

	</body>
</html>