<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>dexGo</title>
    <link rel="stylesheet" type="text/css" href="../index.css">

    <!-- Additional libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  </head>
	<body>
	  <div class="UC_Title"><b>CONNECTING TO THE METAMASK WALLET</b></div> 	
	  <div class="User_Connection_Tab">
		  <div class="UC_Metamask">	  
			<div class="UC_Met_Title">
				Connect to your MetaMask wallet
			</div>
			<div class="UC_Met_Btn">
				<p>CONNECT</p>
			</div>
		  </div>
		  <div class="UC_Wallet">	  
			<div class="UC_Wall_Title">
				Connect to your Connect Wallet
			</div>
			<div class="UC_Wall_Btn">
				<p>CONNECT</p>
			</div>
		  </div>
          <div class="UC_Step">STEP 1</div>		  
	  </div>
	  <div class="UC_PopUp_Success">
		<b>SUCCESSFULLY</b>
	    <img src="../assets/css/img/User_Connection/UC_Success_Icon.png">
	  </div>
	  <div class="UC_PopUp_Connection">
		<b>CONNECTION</b>
	    <img src="../assets/css/img/User_Connection/UC_Spinner.gif">
	  </div>
	  <div class="UC_PopUp_Error">
		<b>SOMETHING <p>WRONG</p></b>
	    <img src="../assets/css/img/User_Connection/UC_Attention_Icon.png">
	  </div>	  
	</body>
</html>